[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	editor = vim
	excludesfile = /Users/katouryou/.gitignore
[user]
	name = katryo
	email = katoryo55@gmail.com
[http]
    sslVerify = false
[alias]
	co = checkout
	st = status
	ci = commit -v
	di = diff
	br = branch
	puhs = push
	psuh = push
	pus = push
	puh = push
	pl = !git pull && git submodule update --init
    lg = log --graph --pretty='format:%C(yellow)%h%C(blue)%d%C(reset) %s %C(cyan)%an, %ar%C(reset)'
[gui]
	encoding = utf-8
[push]
	default = current
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[pull]
	rebase = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
